<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Data Engineer - Webscraping with Pandas

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [2]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y
#!mamba install bs4==4.10.0 -y
#!mamba install html5lib==1.1 -y

## Imports

Import any additional libraries you may need here.

In [3]:
# from bs4 import BeautifulSoup
import html5lib
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [4]:
#Write your code here
url = 'https://en.wikipedia.org/wiki/List_of_largest_banks'
html_data = requests.get(url).text  #to get the html of the website

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [5]:
html_data[101:124]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the bank `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

In [6]:
dataframe_list = pd.read_html(url, flavor='bs4')

In [7]:
dataframe_list[3]

    Rank                                Bank name Market cap(US$ billion)
0      1                           JPMorgan Chase               400.37[6]
1      2  Industrial and Commercial Bank of China                  295.65
2      3                          Bank of America                  279.73
3      4                              Wells Fargo                  214.34
4      5                  China Construction Bank                  207.98
5      6               Agricultural Bank of China                  181.49
6      7                        HSBC Holdings PLC                  169.47
7      8                           Citigroup Inc.                  163.58
8      9                            Bank of China                  151.15
9     10                     China Merchants Bank                  133.37
10    11                     Royal Bank of Canada                  113.80
11    12                    Toronto-Dominion Bank                  106.61
12    13                                HDFC Bank                   105.9
13    14                        Commonwealth Bank                   99.77
14    15                             U.S. Bancorp                   84.40
15    16                            Goldman Sachs                   78.70
16    17                          Banco Santander                   75.47
17    18                           Banco Bradesco                   74.67
18    19                           Morgan Stanley                   73.93
19    20                                  Westpac                   67.84
20    21           Mitsubishi UFJ Financial Group                   66.20
21    22                               Scotiabank                   65.48
22    23                   PNC Financial Services                   63.11
23    24                   Bank of Communications                   61.85
24    25                              BNP Paribas                   59.36
25    26  Australia and New Zealand Banking Group                   54.88
26    27                  National Australia Bank                   51.68
27    28                     Lloyds Banking Group                   51.19
28    29          Sumitomo Mitsui Financial Group                   49.85
29    30                         Bank of Montreal                   48.12
30    31                                      UBS                   45.92
31    32                                ING Group                   44.97
32    33                              Capital One                   43.22
33    34              The Bank of New York Mellon                   42.58
34    35                      China Minsheng Bank                   39.13
35    36                         China CITIC Bank                   38.55
36    37          Banco Bilbao Vizcaya Argentaria                   37.42
37    38                   Mizuho Financial Group                   36.95
38    39                          Intesa Sanpaolo                   36.90
39    40                          Crédit Agricole                   34.89
40    41       Canadian Imperial Bank of Commerce                   34.87
41    42                   Royal Bank of Scotland                   33.95
42    43                                 Barclays                   33.26
43    44                            Credit Suisse                   30.75
44    45                                   Nordea                   29.59
45    46                       Standard Chartered                   29.37
46    47                                 KBC Bank                   27.40
47    48                                UniCredit                   26.88
48    49                         Société Générale                   21.27
49    50                            Deutsche Bank                   15.77

**Question 3** Display the first five rows using the `head` function.

In [8]:
#Write your code here
banks_ranking = dataframe_list[3]
banks_ranking.head()

   Rank                                Bank name Market cap(US$ billion)
0     1                           JPMorgan Chase               400.37[6]
1     2  Industrial and Commercial Bank of China                  295.65
2     3                          Bank of America                  279.73
3     4                              Wells Fargo                  214.34
4     5                  China Construction Bank                  207.98

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [11]:
#Write your code here
banks_ranking.to_json('bank_df.json')

In [13]:
pd.read_json('bank_df.json').head()

   Rank                                Bank name Market cap(US$ billion)
0     1                           JPMorgan Chase               400.37[6]
1     2  Industrial and Commercial Bank of China                  295.65
2     3                          Bank of America                  279.73
3     4                              Wells Fargo                  214.34
4     5                  China Construction Bank                  207.98

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By          | Change Description                 |
| ----------------- | ------- | ------------------- | ---------------------------------- |
| 2022-07-12        | 0.2     | Appalabhaktula Hema | Corrected the code and markdown    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy   | Created initial version of the lab |

Copyright © 2020 IBM Corporation.