<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

## Data Engineering - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=73qhjmN9pymxALkF0hD0h5ySe4nh7HNs" #Make sure to change ******* to your API key.

In [4]:
html_data = requests.get(url).text
html_data[:100]

'{\n    "success": true,\n    "timestamp": 1662568384,\n    "base": "EUR",\n    "date": "2022-09-07",\n   '

In [5]:
html_data = requests.get(url)
html_data.json()

{'success': True,
 'timestamp': 1662568384,
 'base': 'EUR',
 'date': '2022-09-07',
 'rates': {'AED': 3.65638,
  'AFN': 89.841688,
  'ALL': 118.411026,
  'AMD': 403.12729,
  'ANG': 1.79468,
  'AOA': 427.194262,
  'ARS': 140.171573,
  'AUD': 1.480215,
  'AWG': 1.796824,
  'AZN': 1.705501,
  'BAM': 1.96789,
  'BBD': 2.010712,
  'BDT': 94.630922,
  'BGN': 1.956786,
  'BHD': 0.375183,
  'BIF': 2038.723553,
  'BMD': 0.99547,
  'BND': 1.402724,
  'BOB': 6.881378,
  'BRL': 5.224725,
  'BSD': 0.995797,
  'BTC': 5.2720726e-05,
  'BTN': 79.536316,
  'BWP': 12.983335,
  'BYN': 2.513604,
  'BYR': 19511.2215,
  'BZD': 2.007342,
  'CAD': 1.311781,
  'CDF': 2015.827171,
  'CHF': 0.976019,
  'CLF': 0.031982,
  'CLP': 882.277577,
  'CNY': 6.934549,
  'COP': 4411.517045,
  'CRC': 652.837467,
  'CUC': 0.99547,
  'CUP': 26.379968,
  'CVE': 111.095497,
  'CZK': 24.606436,
  'DJF': 176.902514,
  'DKK': 7.43706,
  'DOP': 52.759542,
  'DZD': 139.726936,
  'EGP': 19.181124,
  'ERN': 14.932057,
  'ETB': 52.25847,
  'EUR': 1,
  'FJD': 2.232591,
  'FKP': 0.819874,
  'GBP': 0.866801,
  'GEL': 2.986922,
  'GGP': 0.819874,
  'GHS': 9.905011,
  'GIP': 0.819874,
  'GMD': 54.402613,
  'GNF': 8660.593474,
  'GTQ': 7.727657,
  'GYD': 208.353117,
  'HKD': 7.814294,
  'HNL': 24.418932,
  'HRK': 7.514844,
  'HTG': 117.008883,
  'HUF': 397.685499,
  'IDR': 14844.754509,
  'ILS': 3.414832,
  'IMP': 0.819874,
  'INR': 79.43506,
  'IQD': 1453.386908,
  'IRR': 42108.401385,
  'ISK': 140.729614,
  'JEP': 0.819874,
  'JMD': 149.375409,
  'JOD': 0.706585,
  'JPY': 143.615029,
  'KES': 119.80526,
  'KGS': 80.967885,
  'KHR': 4095.860899,
  'KMF': 495.43575,
  'KPW': 895.923785,
  'KRW': 1374.520702,
  'KWD': 0.307909,
  'KYD': 0.829877,
  'KZT': 472.072978,
  'LAK': 15668.705501,
  'LBP': 1510.128591,
  'LKR': 358.507222,
  'LRD': 153.153008,
  'LSL': 17.374741,
  'LTL': 2.939365,
  'LVL': 0.60215,
  'LYD': 4.927397,
  'MAD': 9.391767,
  'MDL': 19.319193,
  'MGA': 4111.293297,
  'MKD': 61.99586,
  'MMK': 2091.291156,
  'MNT': 3180.489936,
  'MOP': 8.051805,
  'MRO': 355.382792,
  'MUR': 43.792795,
  'MVR': 15.340163,
  'MWK': 1016.086864,
  'MXN': 19.953606,
  'MYR': 4.481643,
  'MZN': 63.540796,
  'NAD': 15.03123,
  'NGN': 424.180092,
  'NIO': 35.816742,
  'NOK': 9.998038,
  'NPR': 127.258427,
  'NZD': 1.650107,
  'OMR': 0.383302,
  'PAB': 0.995797,
  'PEN': 3.716591,
  'PGK': 3.503941,
  'PHP': 56.839341,
  'PKR': 223.234024,
  'PLN': 4.720552,
  'PYG': 6871.943908,
  'QAR': 3.62451,
  'RON': 4.857401,
  'RSD': 117.34596,
  'RUB': 60.673697,
  'RWF': 1031.805157,
  'SAR': 3.741134,
  'SBD': 8.16975,
  'SCR': 14.374436,
  'SDG': 442.98469,
  'SEK': 10.699415,
  'SGD': 1.400425,
  'SHP': 1.371158,
  'SLL': 11502.66125,
  'SOS': 565.92742,
  'SRD': 26.142547,
  'STD': 20604.229186,
  'SVC': 8.713354,
  'SYP': 2501.149825,
  'SZL': 15.032224,
  'THB': 36.404181,
  'TJS': 10.172439,
  'TMT': 3.484147,
  'TND': 3.23474,
  'TOP': 2.364443,
  'TRY': 18.144835,
  'TTD': 6.745001,
  'TWD': 30.749583,
  'TZS': 2321.436917,
  'UAH': 36.771243,
  'UGX': 3794.170656,
  'USD': 0.99547,
  'UYU': 40.565186,
  'UZS': 10935.2432,
  'VND': 23483.148734,
  'VUV': 115.530401,
  'WST': 2.655378,
  'XAF': 660.014992,
  'XAG': 0.05454,
  'XAU': 0.000582,
  'XCD': 2.690309,
  'XDR': 0.768827,
  'XOF': 675.884845,
  'XPF': 105.519982,
  'YER': 249.11626,
  'ZAR': 17.26347,
  'ZMK': 8960.427243,
  'ZMW': 15.360734,
  'ZWL': 320.54109}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [6]:
# Turn the data into a dataframe
currency_df = pd.DataFrame(html_data.json())
currency_df.head()

     success   timestamp base        date       rates
AED     True  1662568384  EUR  2022-09-07    3.656380
AFN     True  1662568384  EUR  2022-09-07   89.841688
ALL     True  1662568384  EUR  2022-09-07  118.411026
AMD     True  1662568384  EUR  2022-09-07  403.127290
ANG     True  1662568384  EUR  2022-09-07    1.794680

In [7]:
# Drop unnescessary columns
currency_df.drop(['success','timestamp','date','base'], axis = 1, inplace = True)
currency_df.head()

          rates
AED    3.656380
AFN   89.841688
ALL  118.411026
AMD  403.127290
ANG    1.794680

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [8]:
# Save the Dataframe
currency_df.to_csv('Currency_DF.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).